<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYmjHRLdMKy1Mo0IPlEYUPOkOFIN3Ic8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1009212806609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uncc.GradesApp</string>
	<key>PROJECT_ID</key>
	<string>fir-demoapp-e7c10</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demoapp-e7c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009212806609:ios:f4e52a004d27955c0abcf0</string>
</dict>
</plist>